Repository ace-ecosystem/ace2-ams, pull requests merged in 2021-12, with the labels that each got.

#44 Generic Node Trees
  backend/app/api/models/alert.py
  backend/app/api/models/analysis.py
  backend/app/api/models/analysis_module_type.py
  backend/app/api/models/node.py
  backend/app/api/models/observable.py
  backend/app/api/models/observable_instance.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/alert.py
  backend/app/api/routes/analysis.py
  backend/app/api/routes/observable.py
  backend/app/api/routes/observable_instance.py
  backend/app/db/crud/__init__.py
  backend/app/db/migrations/versions/d287a1ef0fa0_initial.py
  backend/app/db/schemas/__init__.py
  backend/app/db/schemas/alert.py
  backend/app/db/schemas/analysis.py
  backend/app/db/schemas/analysis_module_type_directive_mapping.py
  backend/app/db/schemas/analysis_module_type_observable_type_mapping.py
  backend/app/db/schemas/analysis_module_type_tag_mapping.py
  backend/app/db/schemas/event.py
  backend/app/db/schemas/event_prevention_tool_mapping.py
  backend/app/db/schemas/event_remediation_mapping.py
  backend/app/db/schemas/event_vector_mapping.py
  backend/app/db/schemas/node.py
  backend/app/db/schemas/node_directive_mapping.py
  backend/app/db/schemas/node_tag_mapping.py
  backend/app/db/schemas/node_threat_mapping.py
  backend/app/db/schemas/node_threat_node_threat_type_mapping.py
  backend/app/db/schemas/node_tree.py
  backend/app/db/schemas/observable.py
  backend/app/db/schemas/observable_instance.py
  backend/app/db/schemas/user_role_mapping.py
  backend/app/tests/alerts/large.json
  backend/app/tests/api/alert/test_create.py
  backend/app/tests/api/alert/test_read.py
  backend/app/tests/api/analysis/test_create.py
  backend/app/tests/api/analysis/test_update.py
  backend/app/tests/api/observable/test_create.py
  backend/app/tests/api/observable/test_delete.py
  backend/app/tests/api/observable/test_update.py
  backend/app/tests/api/observable_instance/__init__.py
  backend/app/tests/api/observable_instance/test_create.py
  backend/app/tests/api/observable_instance/test_read.py
  backend/app/tests/api/observable_instance/test_update.py
  backend/app/tests/helpers.py
  frontend/src/components/Alerts/AlertTree.vue
  frontend/src/components/Alerts/AnalyzeAlertForm.vue
  frontend/src/models/alert.ts
  frontend/src/models/analysis.ts
  frontend/src/models/analysisModuleType.ts
  frontend/src/models/event.ts
  frontend/src/models/node.ts
  frontend/src/models/observable.ts
  frontend/src/models/observableInstance.ts
  frontend/src/pages/Alerts/ViewAlert.vue
  frontend/tests/e2e/specs/ManageAlerts.spec.js
  frontend/tests/unit/src/components/Alerts/AnalyzeAlertForm.spec.ts
  nginx/nginx.conf
Labels: api

#45 Alert Filtering & Filter Modal
  frontend/src/components/Modals/BaseModal.vue
  frontend/src/components/Modals/FilterModal.vue
  frontend/src/components/UserInterface/DateRangePicker.vue
  frontend/src/components/UserInterface/FilterInput.vue
  frontend/src/etc/constants.ts
  frontend/src/models/alert.ts
  frontend/src/models/base.ts
  frontend/src/pages/Alerts/ManageAlerts.vue
  frontend/src/services/api/alerts.ts
  frontend/src/store/filters.ts
  frontend/tests/e2e/specs/ManageAlerts.spec.js
  frontend/tests/unit/src/components/Modals/FilterModal.spec.ts
  frontend/tests/unit/src/components/UserInterface/FilterInput.spec.ts
  frontend/tests/unit/src/pages/Alerts/ManageAlerts.spec.ts
  frontend/tests/unit/src/services/api/alerts.spec.ts
  frontend/tests/unit/src/store/filters.spec.ts
Labels: enhancement, gui

#46 Fix twice-loading alerts
  frontend/src/components/Alerts/TheAlertsTable.vue
Labels: bug, gui

#48 Re-enable frontend unit tests
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Alerts/TheAlertsTable.vue
  frontend/src/components/Modals/AssignModal.vue
  frontend/src/components/Modals/FilterModal.vue
  frontend/src/models/alert.ts
  frontend/src/stores/alertTable.ts
  frontend/src/stores/auth.ts
  frontend/tests/unit/src/components/Alerts/AnalyzeAlertForm.spec.ts
  frontend/tests/unit/src/components/Alerts/TheAlertActionToolbar.spec.ts
  frontend/tests/unit/src/components/Alerts/TheAlertsTable.spec.ts
  frontend/tests/unit/src/components/Filters/TheFilterToolbar.spec.ts
  frontend/tests/unit/src/components/Filters/TheFilterToolbar.spec.ts.temp
  frontend/tests/unit/src/components/Modals/AssignModal.spec.ts
  frontend/tests/unit/src/components/Modals/AssignModal.spec.ts.temp
  frontend/tests/unit/src/components/Modals/FilterModal.spec.ts
  frontend/tests/unit/src/components/UserInterface/DateRangePicker.spec.ts
  frontend/tests/unit/src/components/UserInterface/FilterInput.spec.ts
  frontend/tests/unit/src/components/UserInterface/TheHeader.spec.ts
  frontend/tests/unit/src/components/mockStore.ts.temp
  frontend/tests/unit/src/pages/Alerts/ManageAlerts.spec.ts
  frontend/tests/unit/src/pages/User/TheLogin.spec.ts
  frontend/tests/unit/src/services/api/alertQueue.spec.ts
  frontend/tests/unit/src/services/api/alerts.spec.ts
  frontend/tests/unit/src/services/api/auth.spec.ts
  frontend/tests/unit/src/services/api/axios.spec.ts
  frontend/tests/unit/src/store/alert.spec.ts
  frontend/tests/unit/src/store/alerts.spec.ts.temp
  frontend/tests/unit/src/store/auth.spec.ts
  frontend/tests/unit/src/store/auth.spec.ts.temp
  frontend/tests/unit/src/store/filter.spec.ts
  frontend/tests/unit/src/store/filters.spec.ts.temp
  frontend/tests/unit/src/store/generic.spec.ts.temp
  frontend/tests/unit/src/store/modal.spec.ts
  frontend/tests/unit/src/store/modals.spec.ts.temp
  frontend/tests/unit/src/store/selectedAlert.spec.ts
  frontend/tests/unit/src/store/selectedAlerts.spec.ts.temp
Labels: refactor, gui

#49 Frontend test coverage
  bin/test-frontend-unit.sh
  frontend/src/components/Alerts/AnalyzeAlertForm.vue
  frontend/tests/unit/src/components/Alerts/AnalyzeAlertForm.spec.ts
  frontend/tests/unit/src/components/Alerts/TheAlertActionToolbar.spec.ts
Labels: refactor, gui

#50 Adds node_type field to Node models
  backend/app/api/models/analysis.py
  backend/app/api/models/node.py
  backend/app/tests/api/alert/test_read.py
  backend/app/tests/api/analysis/test_read.py
  backend/app/tests/api/event/test_read.py
  backend/app/tests/api/observable/test_read.py
  frontend/src/components/Alerts/AlertTree.vue
  frontend/src/models/node.ts
  frontend/tests/unit/src/components/Alerts/TheAlertsTable.spec.ts
  frontend/tests/unit/src/store/alert.spec.ts
Labels: refactor, gui, api

#51 Adds serialize_for_node_tree functions to Node subclasses
  backend/app/db/crud/__init__.py
  backend/app/db/schemas/alert.py
  backend/app/db/schemas/analysis.py
  backend/app/db/schemas/event.py
  backend/app/db/schemas/node.py
  backend/app/db/schemas/observable.py
Labels: refactor, api

#52 Backend now generates nested NodeTree structure
  backend/app/api/models/analysis.py
  backend/app/api/models/node.py
  backend/app/db/crud/__init__.py
  backend/app/tests/api/alert/test_read.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Alerts/ViewAlert.vue
Labels: refactor, gui, api

#53 Makes the version field optional when updating a Node
  backend/app/api/models/node.py
  backend/app/api/routes/node.py
  backend/app/tests/api/alert/test_update.py
  backend/app/tests/api/analysis/test_update.py
  backend/app/tests/api/event/test_update.py
  backend/app/tests/api/observable/test_update.py
Labels: enhancement, api

#54 Feature/view alert
  .github/workflows/main.yml
  backend/app/tests/alerts/small.json
  bin/test-frontend-e2e.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Alerts/AlertTree.vue
  frontend/src/components/Node/NodeTag.vue
  frontend/src/models/analysis.ts
  frontend/src/models/observable.ts
  frontend/src/pages/Alerts/ViewAlert.vue
  frontend/src/pages/Alerts/ViewAnalysis.vue
  frontend/src/router/index.ts
  frontend/src/services/api/alert.ts
  frontend/src/services/api/analysis.ts
  frontend/tests/e2e/specs/AnalyzeAlert.spec.js
  frontend/tests/e2e/specs/TheAlertsTable.spec.js
  frontend/tests/e2e/specs/ViewAlert.spec.js
  frontend/tests/e2e/specs/ViewAnalysis.spec.js
  frontend/tests/mockData/alert.ts
  frontend/tests/unit/src/components/Alerts/AlertTree.spec.ts
  frontend/tests/unit/src/components/Node/NodeTag.spec.ts
  frontend/tests/unit/src/pages/Alerts/ViewAlert.spec.ts
  frontend/tests/unit/src/pages/Alerts/ViewAnalysis.spec.ts
  frontend/tests/unit/src/services/api/analysis.spec.ts
Labels: enhancement, gui

#55 Sets user in auth store upon authenticating and refreshing tokens
  backend/app/api/models/auth.py
  backend/app/api/routes/auth.py
  backend/app/core/auth.py
  backend/app/tests/api/test_auth.py
  frontend/src/main.ts
  frontend/src/pages/User/TheLogin.vue
  frontend/src/services/api/auth.ts
  frontend/src/services/api/axios.ts
  frontend/src/stores/alert.ts
  frontend/src/stores/alertTable.ts
  frontend/src/stores/auth.ts
  frontend/tests/unit/src/services/api/auth.spec.ts
  frontend/tests/unit/src/services/api/axios.spec.ts
  frontend/tests/unit/src/store/auth.spec.ts
Labels: enhancement, gui, api

#56 Remove relationship fields from base Node class
  backend/app/api/models/alert.py
  backend/app/api/models/analysis.py
  backend/app/api/models/event.py
  backend/app/api/models/node.py
  backend/app/api/models/observable.py
  backend/app/api/routes/alert.py
  backend/app/api/routes/node.py
  backend/app/db/crud/__init__.py
  backend/app/db/migrations/versions/4289e361a8cd_initial.py
  backend/app/db/schemas/node.py
  backend/app/db/schemas/node_threat_actor_mapping.py
  backend/app/db/schemas/observable.py
  backend/app/tests/api/alert/test_create.py
  backend/app/tests/api/alert/test_read.py
  backend/app/tests/api/alert/test_update.py
  backend/app/tests/api/analysis/test_create.py
  backend/app/tests/api/analysis/test_update.py
  backend/app/tests/api/event/test_create.py
  backend/app/tests/api/event/test_update.py
  backend/app/tests/api/node/__init__.py
  backend/app/tests/api/observable/test_create.py
  backend/app/tests/api/observable/test_update.py
  backend/app/tests/helpers.py
  frontend/src/models/alert.ts
  frontend/src/models/analysis.ts
  frontend/src/models/event.ts
  frontend/src/models/node.ts
  frontend/src/models/observable.ts
  frontend/src/pages/Alerts/ViewAlert.vue
  frontend/tests/mockData/alert.ts
  frontend/tests/unit/src/components/Alerts/TheAlertsTable.spec.ts
  frontend/tests/unit/src/pages/Alerts/ViewAlert.spec.ts
  frontend/tests/unit/src/store/alert.spec.ts
Labels: refactor, gui, api

#58 Adds get_node_version API endpoint
  backend/app/api/models/node.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/node.py
  backend/app/tests/api/node/test_read.py
Labels: enhancement, api

#59 Adds Alert to the root of the NodeTree
  backend/app/api/models/alert.py
  backend/app/api/routes/alert.py
  backend/app/db/crud/__init__.py
  backend/app/db/schemas/alert.py
  backend/app/db/schemas/analysis.py
  backend/app/db/schemas/node.py
  backend/app/db/schemas/observable.py
  backend/app/tests/api/alert/test_create.py
  backend/app/tests/api/alert/test_read.py
  backend/app/tests/helpers.py
  frontend/src/components/Alerts/AlertTree.vue
  frontend/src/components/Alerts/AnalyzeAlertForm.vue
  frontend/src/models/alert.ts
  frontend/src/pages/Alerts/ViewAlert.vue
  frontend/src/pages/Alerts/ViewAnalysis.vue
  frontend/tests/mockData/alert.ts
  frontend/tests/unit/src/components/Alerts/AlertTree.spec.ts
  frontend/tests/unit/src/pages/Alerts/ViewAlert.spec.ts
  frontend/tests/unit/src/pages/Alerts/ViewAnalysis.spec.ts
  frontend/tests/unit/src/store/alertTable.spec.ts
Labels: refactor, gui, api

#60 Alert Page - Action Toolbar
  backend/app/seed.py
  frontend/src/components/Alerts/TheAlertActionToolbar.vue
  frontend/src/components/Modals/AssignModal.vue
  frontend/src/components/Modals/CommentModal.vue
  frontend/src/components/Modals/DispositionModal.vue
  frontend/src/components/Modals/TagModal.vue
  frontend/src/pages/Alerts/ManageAlerts.vue
  frontend/src/pages/Alerts/ViewAlert.vue
  frontend/src/stores/alert.ts
  frontend/tests/e2e/specs/ManageAlerts.spec.js
  frontend/tests/e2e/specs/ViewAlert.spec.js
  frontend/tests/unit/src/components/Alerts/TheAlertActionToolbar.spec.ts
  frontend/tests/unit/src/components/Modals/AssignModal.spec.ts
  frontend/tests/unit/src/components/Modals/CommentModal.spec.ts
  frontend/tests/unit/src/components/Modals/DispositionModal.spec.ts
  frontend/tests/unit/src/components/Modals/TagModal.spec.ts
  frontend/tests/unit/src/pages/Alerts/ViewAlert.spec.ts
Labels: enhancement, gui
