Repository ace-ecosystem/ace2-ams, pull requests merged in 2021-11, with the labels that each got.

#35 Adds the remaining alert filters
  backend/app/api/routes/alert.py
  backend/app/tests/api/alert/test_read.py
  backend/app/tests/helpers.py
Labels: enhancement, api

#37 API alert sorting
  backend/app/api/routes/alert.py
  backend/app/tests/api/alert/test_read.py
  docs/usage/api/alert_sorting.md
  docs/usage/index.md
Labels: documentation, enhancement, api

#38 Manage Alerts - Filter by Time
  bin/test-frontend-unit.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Alerts/TheAlertsTable.vue
  frontend/src/components/Filters/TheFilterToolbar.vue
  frontend/src/components/UserInterface/DateRangePicker.vue
  frontend/src/etc/constants.ts
  frontend/src/models/alert.ts
  frontend/src/models/api.ts
  frontend/src/pages/Alerts/ManageAlerts.vue
  frontend/src/store/filters.ts
  frontend/src/store/index.ts
  frontend/tests/e2e/specs/ManageAlerts.spec.js
  frontend/tests/e2e/support/commands.js
  frontend/tests/unit/src/components/Alerts/TheAlertsTable.spec.ts
  frontend/tests/unit/src/components/Filters/TheFilterToolbar.spec.ts
  frontend/tests/unit/src/components/UserInterface/DateRangePicker.spec.ts
  frontend/tests/unit/src/pages/Alerts/ManageAlerts.spec.ts
  frontend/tests/unit/src/store/filters.spec.ts
Labels: enhancement, gui

#39 Alert trees
  .devcontainer/Dockerfile
  backend/app/api/models/alert.py
  backend/app/api/models/analysis.py
  backend/app/api/models/analysis_module_type.py
  backend/app/api/models/observable_instance.py
  backend/app/api/routes/alert.py
  backend/app/api/routes/analysis.py
  backend/app/api/routes/observable_instance.py
  backend/app/db/crud/__init__.py
  backend/app/db/database.py
  backend/app/db/migrations/versions/a4c955d60e7d_initial.py
  backend/app/db/schemas/__init__.py
  backend/app/db/schemas/alert.py
  backend/app/db/schemas/analysis.py
  backend/app/db/schemas/analysis_observable_instance_mapping.py
  backend/app/db/schemas/observable_instance.py
  backend/app/db/schemas/observable_instance_analysis_mapping.py
  backend/app/insert-sample-alert.py
  backend/app/tests/api/alert/test_create.py
  backend/app/tests/api/alert/test_read.py
  backend/app/tests/api/alert/test_update.py
  backend/app/tests/api/analysis/test_create.py
  backend/app/tests/api/analysis/test_update.py
  backend/app/tests/api/node_comment/test_create.py
  backend/app/tests/api/node_comment/test_delete.py
  backend/app/tests/api/node_comment/test_update.py
  backend/app/tests/api/observable_instance/test_create.py
  backend/app/tests/api/observable_instance/test_update.py
  backend/app/tests/helpers.py
  bin/db-revision.sh
  bin/insert-sample-alert.sh
  bin/reset-dev-container.sh
  docker-compose.yml
  docs/development/backend/environment_variables.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Alerts/AlertTree.vue
  frontend/src/components/Alerts/AnalyzeAlertForm.vue
  frontend/src/models/alert.ts
  frontend/src/pages/Alerts/ViewAlert.vue
  frontend/src/store/alerts.ts
  frontend/tests/e2e/specs/AnalyzeAlert.spec.js
  frontend/tests/e2e/specs/Login.spec.js
  frontend/tests/e2e/specs/TheAlertsTable.spec.js
  frontend/tests/unit/src/components/Alerts/AnalyzeAlertForm.spec.ts
  frontend/tests/unit/src/store/alerts.spec.ts
Labels: enhancement, gui, api

#43 Alert tree performance testing
  backend/app/db/database.py
  backend/app/insert-alerts.py
  backend/app/insert-sample-alert.py
  backend/app/tests/alerts/large.json
  backend/app/tests/alerts/small.json
  backend/app/tests/alerts/small_template.json
  backend/app/tests/api/alert/test_read.py
  backend/app/tests/helpers.py
  backend/requirements.txt
  bin/insert-alerts.sh
  bin/reset-dev-container.sh
  bin/test-backend.sh
  docs/development/backend/insert_alerts.md
  frontend/src/components/Alerts/AlertTree.vue
  frontend/src/pages/Alerts/ViewAlert.vue
Labels: enhancement, api
