Repository ace-ecosystem/ace2-ams, pull requests merged in 2022-01, with the labels that each got.

#61 Fixes and tests for setting various fields back to None
  backend/app/api/routes/alert.py
  backend/app/api/routes/analysis.py
  backend/app/api/routes/observable.py
  backend/app/db/crud/__init__.py
  backend/app/db/migrations/versions/7811ddacebd9_initial.py
  backend/app/db/schemas/analysis.py
  backend/app/db/schemas/event.py
  backend/app/tests/api/alert/test_update.py
  backend/app/tests/api/analysis/test_create.py
  backend/app/tests/api/analysis/test_update.py
  backend/app/tests/api/event/test_update.py
  backend/app/tests/api/observable/test_update.py
  backend/app/tests/helpers.py
Labels: bug, api

#63 Node Tree metadata
  backend/app/api/models/node.py
  backend/app/api/routes/analysis.py
  backend/app/api/routes/observable.py
  backend/app/db/crud/__init__.py
  backend/app/db/migrations/versions/3144a1826e24_initial.py
  backend/app/db/schemas/node_tree.py
  backend/app/tests/alerts/small.json
  backend/app/tests/api/alert/test_read.py
  backend/app/tests/api/alert/test_update.py
  backend/app/tests/api/analysis/test_create.py
  backend/app/tests/api/analysis/test_read.py
  backend/app/tests/api/analysis/test_update.py
  backend/app/tests/api/node/test_read.py
  backend/app/tests/api/node_comment/test_create.py
  backend/app/tests/api/node_comment/test_delete.py
  backend/app/tests/api/node_comment/test_update.py
  backend/app/tests/api/observable/test_create.py
  backend/app/tests/api/observable/test_read.py
  backend/app/tests/api/observable/test_update.py
  backend/app/tests/helpers.py
  frontend/src/components/Alerts/AlertTree.vue
  frontend/src/models/analysis.ts
  frontend/src/models/node.ts
  frontend/src/models/observable.ts
Labels: enhancement, gui, api

#64 Fixes bug when sorting alerts by nullable columns
  backend/app/api/routes/alert.py
  backend/app/tests/api/alert/test_read.py
Labels: bug, api

#65 Update multiple alerts with a single API call
  backend/app/api/models/alert.py
  backend/app/api/routes/alert.py
  backend/app/tests/api/alert/test_update.py
  frontend/src/components/Alerts/TheAlertActionToolbar.vue
  frontend/src/components/Modals/AssignModal.vue
  frontend/src/components/Modals/DispositionModal.vue
  frontend/src/components/Modals/TagModal.vue
  frontend/src/models/alert.ts
  frontend/src/services/api/alert.ts
  frontend/src/services/api/base.ts
  frontend/src/stores/alert.ts
  frontend/tests/e2e/specs/ViewAlert.spec.js
  frontend/tests/unit/src/components/Alerts/TheAlertActionToolbar.spec.ts
  frontend/tests/unit/src/components/Modals/AssignModal.spec.ts
  frontend/tests/unit/src/components/Modals/DispositionModal.spec.ts
  frontend/tests/unit/src/components/Modals/TagModal.spec.ts
  frontend/tests/unit/src/services/api/alerts.spec.ts
  frontend/tests/unit/src/store/alert.spec.ts
Labels: enhancement, gui, api

#66 Feature/link alert filters
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Alerts/TheAlertActionToolbar.vue
  frontend/src/components/Alerts/TheAlertsTable.vue
  frontend/src/components/Filters/TheFilterToolbar.vue
  frontend/src/components/Modals/FilterModal.vue
  frontend/src/etc/constants.ts
  frontend/src/etc/helpers.ts
  frontend/src/models/alert.ts
  frontend/src/models/base.ts
  frontend/src/models/user.ts
  frontend/src/pages/Alerts/ManageAlerts.vue
  frontend/src/services/api/alert.ts
  frontend/tests/e2e/specs/ManageAlerts.spec.js
  frontend/tests/unit/src/components/Alerts/TheAlertActionToolbar.spec.ts
  frontend/tests/unit/src/components/Filters/TheFilterToolbar.spec.ts
  frontend/tests/unit/src/components/Modals/FilterModal.spec.ts
  frontend/tests/unit/src/pages/Alerts/ManageAlerts.spec.ts
  frontend/tests/unit/src/services/api/alert.spec.ts
Labels: enhancement, gui

#67 Create multiple comments with a single API call
  backend/app/api/routes/node_comment.py
  backend/app/tests/api/node_comment/test_create.py
  frontend/src/components/Modals/CommentModal.vue
  frontend/src/components/Modals/DispositionModal.vue
  frontend/src/services/api/base.ts
  frontend/src/services/api/nodeComment.ts
  frontend/tests/unit/src/components/Modals/CommentModal.spec.ts
  frontend/tests/unit/src/components/Modals/DispositionModal.spec.ts
  frontend/tests/unit/src/services/api/nodeComment.spec.ts
Labels: enhancement, gui, api

#68 Event Queues
  backend/app/api/models/event.py
  backend/app/api/models/event_queue.py
  backend/app/api/models/user.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/event.py
  backend/app/api/routes/event_queue.py
  backend/app/api/routes/user.py
  backend/app/db/migrations/versions/c58efb53f5c5_initial.py
  backend/app/db/schemas/__init__.py
  backend/app/db/schemas/event.py
  backend/app/db/schemas/event_queue.py
  backend/app/db/schemas/user.py
  backend/app/etc/defaults.yml
  backend/app/seed.py
  backend/app/tests/api/event/test_create.py
  backend/app/tests/api/event/test_update.py
  backend/app/tests/api/event_queue/__init__.py
  backend/app/tests/api/event_queue/test_create.py
  backend/app/tests/api/event_queue/test_delete.py
  backend/app/tests/api/event_queue/test_read.py
  backend/app/tests/api/event_queue/test_update.py
  backend/app/tests/api/user/test_create.py
  backend/app/tests/api/user/test_update.py
  backend/app/tests/helpers.py
  frontend/src/models/event.ts
  frontend/src/models/eventQueue.ts
  frontend/src/models/user.ts
  frontend/tests/mockData/alert.ts
  frontend/tests/unit/src/components/UserInterface/FilterInput.spec.ts
  frontend/tests/unit/src/store/auth.spec.ts
Labels: enhancement, gui, api

#69 Tag Links
  frontend/package-lock.json
  frontend/src/components/Alerts/TheAlertsTable.vue
  frontend/src/components/Node/NodeTag.vue
  frontend/src/pages/Alerts/ManageAlerts.vue
  frontend/tests/e2e/specs/ManageAlerts.spec.js
  frontend/tests/e2e/specs/ViewAlert.spec.js
  frontend/tests/unit/src/components/Node/NodeTag.spec.ts
  frontend/tests/unit/src/pages/Alerts/ManageAlerts.spec.ts
Labels: enhancement, gui

#70 User training column
  backend/app/api/models/user.py
  backend/app/api/routes/user.py
  backend/app/db/migrations/versions/9915657d0f60_initial.py
  backend/app/db/schemas/user.py
  backend/app/tests/api/user/test_create.py
  backend/app/tests/api/user/test_update.py
  frontend/src/models/user.ts
  frontend/tests/mockData/alert.ts
  frontend/tests/unit/src/components/UserInterface/FilterInput.spec.ts
  frontend/tests/unit/src/store/auth.spec.ts
Labels: enhancement, gui, api

#71 Observable Filter Links
  frontend/src/components/Alerts/AlertTree.vue
  frontend/tests/e2e/specs/ViewAlert.spec.js
  frontend/tests/unit/src/components/Alerts/AlertTree.spec.ts
Labels: enhancement, gui

#72 Get Nodes of a specific type from a list of NodeTrees
  backend/app/api/routes/__init__.py
  backend/app/api/routes/helpers.py
  backend/app/api/routes/node_tree.py
  backend/app/db/crud/__init__.py
  backend/app/tests/api/node_tree/__init__.py
  backend/app/tests/api/node_tree/test_read.py
Labels: enhancement, api

#73 Observable Dropdown
  frontend/src/components/Alerts/TheAlertsTable.vue
  frontend/src/services/api/base.ts
  frontend/src/services/api/nodeTree.ts
  frontend/tests/e2e/specs/TheAlertsTable.spec.js
  frontend/tests/unit/src/components/Alerts/TheAlertsTable.spec.ts
  frontend/tests/unit/src/services/api/base.spec.ts
  frontend/tests/unit/src/services/api/nodeTree.spec.ts
Labels: enhancement, gui

#101 Child tags
  backend/app/api/models/alert.py
  backend/app/api/routes/alert.py
  backend/app/db/crud/__init__.py
  backend/app/db/schemas/node.py
  backend/app/tests/api/alert/test_read.py
  frontend/src/components/Alerts/TheAlertsTable.vue
  frontend/src/models/alert.ts
  frontend/src/stores/alertTable.ts
  frontend/tests/e2e/specs/ManageAlerts.spec.js
  frontend/tests/e2e/specs/TheAlertsTable.spec.js
  frontend/tests/mockData/alert.ts
  frontend/tests/unit/src/components/Alerts/TheAlertsTable.spec.ts
  frontend/tests/unit/src/store/alertTable.spec.ts
Labels: enhancement, gui, api

#102 Child threat actors / child threats
  backend/app/api/models/alert.py
  backend/app/api/routes/alert.py
  backend/app/db/schemas/node.py
  backend/app/tests/api/alert/test_read.py
  backend/app/tests/helpers.py
  frontend/src/models/alert.ts
  frontend/tests/mockData/alert.ts
  frontend/tests/unit/src/components/Alerts/TheAlertsTable.spec.ts
  frontend/tests/unit/src/store/alertTable.spec.ts
Labels: enhancement, api

#103 Persist filters
  frontend/src/App.vue
  frontend/src/components/Modals/FilterModal.vue
  frontend/src/stores/filter.ts
  frontend/tests/e2e/specs/ManageAlerts.spec.js
  frontend/tests/unit/src/App.spec.ts
  frontend/tests/unit/src/components/Modals/FilterModal.spec.ts
  frontend/tests/unit/src/store/filter.spec.ts
Labels: enhancement, gui

#104 Filter Chips & Test Warnings Fixes
  frontend/src/components/Alerts/AnalyzeAlertForm.vue
  frontend/src/components/Filters/FilterChip.vue
  frontend/src/components/Filters/FilterChipContainer.vue
  frontend/src/components/Filters/FilterInput.vue
  frontend/src/components/Filters/FilterTag.vue
  frontend/src/components/Filters/FilterTagList.vue
  frontend/src/components/Filters/TheFilterToolbar.vue
  frontend/src/components/Modals/FilterModal.vue
  frontend/src/components/Node/NodeTag.vue
  frontend/src/components/UserInterface/DateRangePicker.vue
  frontend/src/etc/constants.ts
  frontend/src/etc/helpers.ts
  frontend/src/models/base.ts
  frontend/src/pages/Alerts/ManageAlerts.vue
  frontend/src/services/api/alert.ts
  frontend/src/stores/filter.ts
  frontend/tests/e2e/specs/ManageAlerts.spec.js
  frontend/tests/e2e/specs/TheAlertsTable.spec.js
  frontend/tests/e2e/specs/ViewAlert.spec.js
  frontend/tests/unit/src/components/Alerts/AnalyzeAlertForm.spec.ts
  frontend/tests/unit/src/components/Alerts/TheAlertsTable.spec.ts
  frontend/tests/unit/src/components/Filters/FilterChip.spec.ts
  frontend/tests/unit/src/components/Filters/FilterChipContainer.spec.ts
  frontend/tests/unit/src/components/Filters/FilterInput.spec.ts
  frontend/tests/unit/src/components/Filters/TheFilterToolbar.spec.ts
  frontend/tests/unit/src/pages/Alerts/ManageAlerts.spec.ts
  frontend/tests/unit/src/pages/User/TheLogin.spec.ts
  frontend/tests/unit/src/services/api/alert.spec.ts
  frontend/tests/unit/src/store/filter.spec.ts
Labels: enhancement, gui

#105 Initial Manage Events page
  backend/app/api/models/event.py
  backend/app/api/routes/event.py
  backend/app/insert-event.py
  backend/app/tests/api/event/test_read.py
  backend/app/tests/api/event/test_update.py
  backend/app/tests/helpers.py
  bin/insert-event.sh
  frontend/src/components/Events/TheEventActionToolbar.vue
  frontend/src/components/Events/TheEventsTable.vue
  frontend/src/components/Filters/FilterChip.vue
  frontend/src/components/Filters/TheFilterToolbar.vue
  frontend/src/components/UserInterface/TheHeader.vue
  frontend/src/etc/constants.ts
  frontend/src/etc/helpers.ts
  frontend/src/models/event.ts
  frontend/src/pages/Events/ManageEvents.vue
  frontend/src/router/index.ts
  frontend/src/services/api/event.ts
  frontend/src/services/api/eventPreventionTool.ts
  frontend/src/services/api/eventQueue.ts
  frontend/src/services/api/eventRiskLevel.ts
  frontend/src/services/api/eventSource.ts
  frontend/src/services/api/eventStatus.ts
  frontend/src/services/api/eventType.ts
  frontend/src/services/api/eventVector.ts
  frontend/src/stores/event.ts
  frontend/src/stores/eventPreventionTool.ts
  frontend/src/stores/eventQueue.ts
  frontend/src/stores/eventRiskLevel.ts
  frontend/src/stores/eventSource.ts
  frontend/src/stores/eventStatus.ts
  frontend/src/stores/eventTable.ts
  frontend/src/stores/eventType.ts
  frontend/src/stores/eventVector.ts
  frontend/src/stores/filter.ts
  frontend/src/stores/selectedEvent.ts
  frontend/tests/unit/src/App.spec.ts
  frontend/tests/unit/src/store/filter.spec.ts
Labels: enhancement, gui, api

#106 Quick Add Filters
  frontend/src/App.vue
  frontend/src/components/Filters/FilterChip.vue
  frontend/src/components/Filters/FilterInput.vue
  frontend/src/components/Filters/TheFilterToolbar.vue
  frontend/src/components/Modals/FilterModal.vue
  frontend/src/etc/helpers.ts
  frontend/tests/e2e/specs/ManageAlerts.spec.js
  frontend/tests/unit/src/App.spec.ts
  frontend/tests/unit/src/components/Filters/FilterChip.spec.ts
  frontend/tests/unit/src/components/Filters/FilterInput.spec.ts
  frontend/tests/unit/src/components/Filters/TheFilterToolbar.spec.ts
Labels: bug, enhancement, gui

#108 Cypress tests refactor
  .github/workflows/main.yml
  .gitignore
  bin/db-revision.sh
  bin/db-upgrade.sh
  bin/format-backend-code.sh
  bin/format-frontend-code.sh
  bin/insert-alerts.sh
  bin/insert-event.sh
  bin/reset-dev-container.sh
  bin/restart-dev-container.sh
  bin/stop-dev-container.sh
  bin/test-backend.sh
  bin/test-e2e.sh
  bin/test-frontend-e2e.sh
  bin/test-frontend-unit.sh
  bin/test-interactive-e2e.sh
  cypress/cypress.json
  cypress/specs/AnalyzeAlert.spec.js
  cypress/specs/Login.spec.js
  cypress/specs/ManageAlerts.spec.js
  cypress/specs/TheAlertsTable.spec.js
  cypress/specs/ViewAlert.spec.js
  cypress/specs/ViewAnalysis.spec.js
  cypress/support/commands.js
  cypress/support/index.js
  docker-compose-e2e-ci.yml
  docker-compose-e2e.yml
  docs/development/index.md
  frontend/Dockerfile.dev
  frontend/cypress.json
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/e2e/.eslintrc.js
  frontend/tests/e2e/plugins/index.js
Labels: bug, refactor

#109 Fixes issue of returning Alert instead of NodeTree object
  backend/app/tests/helpers.py
Labels: bug

#110 Cypress tests refactor (Part 1)
  .github/workflows/main.yml
  backend/app/db/database.py
  backend/app/db/migrations/env.py
  bin/reset-dev-container.sh
  bin/restart-dev-container.sh
  bin/test-backend.sh
  bin/test-e2e.sh
  bin/test-interactive-e2e.sh
  cypress/specs/AnalyzeAlert.spec.js
  cypress/specs/Login.spec.js
  cypress/specs/ManageAlerts.spec.js
  cypress/specs/TheAlertsTable.spec.js
  cypress/specs/ViewAlert.spec.js
  cypress/specs/ViewAnalysis.spec.js
  cypress/specs/helpers.js
  cypress/support/commands.js
  docker-compose-e2e-ci.yml
  docker-compose-e2e.yml
  docker-compose.yml
  frontend/src/components/Alerts/AnalyzeAlertForm.vue
  frontend/src/components/Modals/TagModal.vue
  frontend/src/pages/User/TheLogin.vue
  frontend/tests/unit/src/components/Alerts/AnalyzeAlertForm.spec.ts
  frontend/tests/unit/src/components/Modals/TagModal.spec.ts
Labels: refactor, gui, api

#113 Initial GUI Event Tests
  frontend/src/components/Events/EventTableCell.vue
  frontend/src/components/Filters/FilterChip.vue
  frontend/src/components/Filters/FilterInput.vue
  frontend/src/components/Filters/TheFilterToolbar.vue
  frontend/src/components/Node/TheNodeTable.vue
  frontend/src/components/UserInterface/DateRangePicker.vue
  frontend/src/stores/eventTable.ts
  frontend/tests/e2e/specs/ManageAlerts.spec.js
  frontend/tests/e2e/specs/ManageEvents.bak
  frontend/tests/mocks/alert.ts
  frontend/tests/mocks/comment.ts
  frontend/tests/mocks/events.ts
  frontend/tests/mocks/genericObject.ts
  frontend/tests/mocks/nodeThreat.ts
  frontend/tests/mocks/user.ts
  frontend/tests/unit/src/components/Alerts/AlertTree.spec.ts
  frontend/tests/unit/src/components/Node/TheNodeTable.spec.ts
  frontend/tests/unit/src/pages/Alerts/ViewAlert.spec.ts
  frontend/tests/unit/src/pages/Alerts/ViewAnalysis.spec.ts
  frontend/tests/unit/src/services/api/analysis.spec.ts
  frontend/tests/unit/src/services/api/event.spec.ts
  frontend/tests/unit/src/store/alertTable.spec.ts
  frontend/tests/unit/src/store/event.spec.ts
  frontend/tests/unit/src/store/eventTable.spec.ts
Labels: gui
