Repository ace-ecosystem/ace2-ams, pull requests merged in 2022-07, with the labels that each got.

#292 Adds a boolean whitelisted column to the observables table
  api_models/observable.py
  db_api/app/db/crud/observable.py
  db_api/app/db/migrations/versions/bca5409c9fb6_initial.py
  db_api/app/db/schemas/observable.py
  db_api/app/tests/api_tests/observable/test_create.py
  db_api/app/tests/api_tests/observable/test_update.py
  db_api/app/tests/db_tests/crud/observable/test_create.py
  db_api/app/tests/db_tests/crud/observable/test_update.py
  db_api/app/tests/factory/observable.py
  frontend/src/models/observable.ts
  frontend/tests/mocks/observable.ts
Labels: enhancement, api, database

#293 Custom sort order for observables
  api_models/__init__.py
  api_models/analysis_metadata.py
  api_models/metadata.py
  api_models/metadata_sort.py
  db_api/app/api/routes/__init__.py
  db_api/app/api/routes/metadata_sort.py
  db_api/app/db/crud/__init__.py
  db_api/app/db/crud/analysis_metadata.py
  db_api/app/db/crud/event.py
  db_api/app/db/crud/helpers.py
  db_api/app/db/crud/metadata_sort.py
  db_api/app/db/crud/submission.py
  db_api/app/db/migrations/versions/51170f8e158b_initial.py
  db_api/app/db/schemas/__init__.py
  db_api/app/db/schemas/metadata_sort.py
  db_api/app/tests/api_tests/metadata_sort/__init__.py
  db_api/app/tests/api_tests/metadata_sort/test_create.py
  db_api/app/tests/api_tests/metadata_sort/test_delete.py
  db_api/app/tests/api_tests/metadata_sort/test_read.py
  db_api/app/tests/api_tests/metadata_sort/test_update.py
  db_api/app/tests/db_tests/crud/metadata_sort/__init__.py
  db_api/app/tests/db_tests/crud/metadata_sort/test_create.py
  db_api/app/tests/db_tests/crud/metadata_sort/test_delete.py
  db_api/app/tests/db_tests/crud/metadata_sort/test_read.py
  db_api/app/tests/db_tests/crud/metadata_sort/test_update.py
  db_api/app/tests/db_tests/crud/submission/test_read.py
  db_api/app/tests/factory/__init__.py
  db_api/app/tests/factory/metadata_sort.py
  db_api/app/tests/factory/observable.py
  frontend/src/models/analysisMetadata.ts
  frontend/src/models/metadataSort.ts
  frontend/tests/mocks/analysisMetadata.ts
Labels: enhancement, api, database

#294 Removes Constrained types since ConstrainedList caused errors
  api_models/__init__.py
  api_models/analysis_metadata.py
  api_models/metadata.py
  api_models/metadata_sort.py
Labels: refactor

#297 Analysis summary details
  api_models/analysis.py
  api_models/analysis_summary_detail.py
  api_models/format.py
  db_api/app/api/routes/__init__.py
  db_api/app/api/routes/analysis_summary_detail.py
  db_api/app/api/routes/format.py
  db_api/app/db/crud/__init__.py
  db_api/app/db/crud/analysis.py
  db_api/app/db/crud/analysis_summary_detail.py
  db_api/app/db/crud/format.py
  db_api/app/db/migrations/versions/366f824ad8c2_initial.py
  db_api/app/db/schemas/__init__.py
  db_api/app/db/schemas/analysis.py
  db_api/app/db/schemas/analysis_summary_detail.py
  db_api/app/db/schemas/format.py
  db_api/app/tests/api_tests/analysis/test_create.py
  db_api/app/tests/api_tests/analysis_summary_detail/__init__.py
  db_api/app/tests/api_tests/analysis_summary_detail/test_create.py
  db_api/app/tests/api_tests/analysis_summary_detail/test_delete.py
  db_api/app/tests/api_tests/analysis_summary_detail/test_read.py
  db_api/app/tests/api_tests/analysis_summary_detail/test_update.py
  db_api/app/tests/api_tests/format/__init__.py
  db_api/app/tests/api_tests/format/test_create.py
  db_api/app/tests/api_tests/format/test_delete.py
  db_api/app/tests/api_tests/format/test_read.py
  db_api/app/tests/api_tests/format/test_update.py
  db_api/app/tests/db_tests/crud/analysis/test_create.py
  db_api/app/tests/db_tests/crud/analysis_summary_detail/__init__.py
  db_api/app/tests/db_tests/crud/analysis_summary_detail/test_create.py
  db_api/app/tests/db_tests/crud/analysis_summary_detail/test_delete.py
  db_api/app/tests/db_tests/crud/analysis_summary_detail/test_read.py
  db_api/app/tests/db_tests/crud/analysis_summary_detail/test_update.py
  db_api/app/tests/db_tests/crud/format/__init__.py
  db_api/app/tests/db_tests/crud/format/test_create.py
  db_api/app/tests/db_tests/crud/format/test_delete.py
  db_api/app/tests/db_tests/crud/format/test_read.py
  db_api/app/tests/db_tests/crud/format/test_update.py
  db_api/app/tests/factory/__init__.py
  db_api/app/tests/factory/analysis_summary_detail.py
  db_api/app/tests/factory/format.py
  frontend/src/models/analysis.ts
  frontend/src/models/analysisSummaryDetail.ts
  frontend/src/models/format.ts
  frontend/tests/mocks/analysis.ts
Labels: enhancement, api, database

#301 Circular alert fix
  api_models/analysis.py
  api_models/observable.py
  bin/test-db-api.sh
  db_api/app/db/crud/submission.py
  db_api/app/db/schemas/event.py
  db_api/app/db/schemas/submission.py
  db_api/app/tests/alerts/circular.json
  db_api/app/tests/api_tests/submission/test_read.py
  db_api/app/tests/db_tests/crud/submission/test_read.py
  docker-compose.yml
  frontend/src/components/Alerts/AlertTree.vue
  frontend/src/components/Alerts/TheAlertSummary.vue
  frontend/src/components/Observables/ObservableLeaf.vue
  frontend/src/etc/helpers.ts
  frontend/src/models/analysis.ts
  frontend/src/models/observable.ts
  frontend/tests/component/src/components/Alerts/AlertTree.spec.ts
  frontend/tests/component/src/components/Observables/ObservableLeaf.spec.ts
  frontend/tests/mocks/analysis.ts
  frontend/tests/mocks/observable.ts
Labels: bug, enhancement, gui, api

#300 Update frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: gui

#302 Updates Python dependencies
  db_api/requirements.txt
  gui_api/requirements.txt
Labels: api

#304 Uses consistent leaf_id values
  api_models/analysis.py
  api_models/observable.py
  db_api/app/db/crud/submission.py
  db_api/app/db/schemas/analysis.py
  db_api/app/db/schemas/observable.py
  db_api/app/db/schemas/submission.py
  db_api/app/tests/db_tests/crud/submission/test_read.py
  frontend/src/components/Alerts/AlertTree.vue
  frontend/src/components/Observables/ObservableLeaf.vue
  frontend/src/etc/helpers.ts
  frontend/src/models/analysis.ts
  frontend/src/models/observable.ts
  frontend/tests/mocks/analysis.ts
  frontend/tests/mocks/observable.ts
Labels: enhancement, api

#309 Removes chmod 777 hack
  .github/workflows/main.yml
  docker-compose-ci.yml
  frontend/Dockerfile.dev
Labels: refactor

#308 Feature/analysis summary details
  frontend/src/components/Alerts/AlertTree.vue
  frontend/src/components/Analysis/AnalysisSummaryDetail.vue
  frontend/src/pages/Alerts/ViewAlert.vue
  frontend/tests/component/src/components/Alerts/AlertTree.spec.ts
  frontend/tests/component/src/components/Analysis/AnalysisSummaryDetail.spec.ts
  frontend/tests/component/src/pages/Alerts/ViewAlert.spec.ts
Labels: enhancement, gui
